{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block content %}
  <!--Main layout-->
<main style="margin-top:100px">
  <div class="container wow fadeIn">

    <!-- Heading -->
    

    <!--Grid row-->
    <div class="row">

      <!--Grid column-->
      <div class="col-md-8 mb-4 mx-auto"> 

        <!--Card-->
        <div class="card card-body">
          <h2 class="my-5 h2 text-center">Setup Billing Address</h2>
          <!--Card content-->
          <form method="POST">
              {% csrf_token %}

            <!--address-->
            <div class="row justify-content-center">
              <!-- {% if default_address %}
              <div class="col-md-10 mr-2 md-form mb-5">  
                <h5 class="">Choose Previous Address</h5>                  
                    <input class="mr" type="radio" name="previous_address" value="{{ address }}">
                    <small class="text-muted">{{ default_address.get_full_address }}</small><br>        
              </div>
              {% endif %} -->
              <div class="col-md-5 mr-2 md-form mb-5">
                {% render_field form.house_number class="form-control" %}
                <label for="house_number" class="">House Number</label>
              </div>
              <div class="col-md-5 md-form mb-5">
                {% render_field form.street class="form-control" %}
                <label for="street" class="">Street</label>
              </div>
              <div class="col-md-5 mr-2 md-form mb-5">
                {% render_field form.barangay class="form-control" %}
                <label class="">Barangay</label>
              </div>
              <div class="col-md-5 md-form mb-5">
                {% render_field form.city class="form-control" %}
                <label class="">City</label>
              </div>
              <div class="col-md-5 md-form mb-5">
                {% render_field form.province class="form-control" %}
                <label class="">Province</label>
              </div>
              <div class="col-md-5 md-form mb-5">
                {% render_field form.zip_code class="form-control" %}
                <label class="">Zip</label>
              </div>
         
    
            
           
              <div class="col-lg-4 col-md-12 mb-4">
                {% render_field form.country class="custom-select d-block w-100 mr-auto" %}
              </div>
            </div>
           
             
            <hr>

            <div class="custom-control custom-checkbox">
                {% render_field form.same_as_shipping_address class="custom-control-input" id="same-address"%}
              <label class="custom-control-label" for="same-address">Shipping address is the same as my billing address</label>
            </div>
            <!-- <div class="custom-control custom-checkbox">
                {% render_field form.save_for_next_time class="custom-control-input" id="save-info" %}
              <label class="custom-control-label" for="save-info">Save this information for next time</label>
            </div> -->

            <button class="btn btn-primary btn-lg btn-block mt-2" type="submit">Continue to checkout</button>

          </form>

        </div>
        <!--/.Card-->

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </div>
</main>
<!--Main layout-->
{% endblock content %}