{% extends 'base.html' %}

{% block content %}
<div class="container" style="margin-top:100px">
    <article class="card">
        <div class="card-body">
            <h6>Order ID: {{ order.order_id}}</h6>
            <article class="card">
                <div class="card-body row">
                    <div class="col"> <strong>Estimated Delivery time:</strong> <br>{{ delivery_time|date }}</div>
                    <div class="col"> <strong>Shipping BY:</strong> <br> cTech, | <i class="fa fa-phone"></i> +63998234823 </div>
                    <div class="col"> <strong>Status:</strong> <br> {{ order.get_status_display }} </div>
                    <div class="col"> <strong>Order #:</strong> <br> {{ order.order_id }} </div>
                </div>
            </article>
            <div class="track">
                {% if order.status == 'created'%}
                <div class="step active"> <span class="icon"> <i class="fa fa-check"></i> </span> <span class="text">Order created</span> </div>
                <div class="step"> <span class="icon"> <i class="fas fa-credit-card"></i> </span> <span class="text"> Paid</span> </div>
                <div class="step"> <span class="icon"> <i class="fa fa-truck"></i> </span> <span class="text"> Shipped</span> </div>
                <div class="step" > <span class="icon"> <i class="fa fa-box"></i> </span> <span class="text">Ready for pickup</span> </div>
                {% elif order.status == 'paid' %}
                <div class="step active"> <span class="icon"> <i class="fa fa-check"></i> </span> <span class="text">Order created</span> </div>
                <div class="step active"> <span class="icon"> <i class="fas fa-credit-card"></i> </span> <span class="text"> Paid</span> </div>
                <div class="step"> <span class="icon"> <i class="fa fa-truck"></i> </span> <span class="text"> Shipped</span> </div>
                <div class="step" > <span class="icon"> <i class="fa fa-box"></i> </span> <span class="text">Ready for pickup</span> </div>
                {% elif order.status == 'shipped' %}
                <div class="step active"> <span class="icon"> <i class="fa fa-check"></i> </span> <span class="text">Order created</span> </div>
                <div class="step active"> <span class="icon"> <i class="fas fa-credit-card"></i> </span> <span class="text"> Paid</span> </div>
                <div class="step active"> <span class="icon"> <i class="fa fa-truck"></i> </span> <span class="text"> Shipped</span> </div>
                <div class="step" > <span class="icon"> <i class="fa fa-box"></i> </span> <span class="text">Ready for pickup</span> </div>
                {% elif order.status == 'picked_up' %}
                <div class="step active"> <span class="icon"> <i class="fa fa-check"></i> </span> <span class="text">Order created</span> </div>
                <div class="step active"> <span class="icon"> <i class="fas fa-credit-card"></i> </span> <span class="text"> Paid</span> </div>
                <div class="step active"> <span class="icon"> <i class="fa fa-truck"></i> </span> <span class="text"> Shipped</span> </div>
                <div class="step active" > <span class="icon"> <i class="fa fa-box"></i> </span> <span class="text">Ready for pickup</span> </div>
                {% endif %}
            </div>
            <hr>
            <!-- {% if order.cart.products.all%}
            <ul class="row">
                {% for product in order.cart.products.all %}
                <li class="col-md-4">
                    <figure class="itemside mb-3">
                        <div class="aside"><img src="{{ product.image1.url }}" class="img-sm border"></div>
                        <figcaption class="info align-self-center">
                            <p class="title">{{ product.title}} <br></p> 
                            <span class="text-muted">
                                {% if product.discount_percent %}
                                PHP {{ product.get_discounted_price|floatformat:2 }}
                                {% else %}
                                    PHP {{ product.price|floatformat:2 }}
                                {% endif %}
                            </span><br>
                            <span class="text-muted">
                                Qty. {{ product.quantity }}
                            </span>
                        </figcaption>
                    </figure>
                </li>
                {% endfor %}
            </ul>
            {% endif %} -->
            <hr>
            <a href="{% url 'order:list' %}" class="btn btn-warning" data-abc="true"> <i class="fa fa-chevron-left"></i> Back to orders</a>
        </div>
    </article>
</div>
{% endblock content %}