{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row container mx-auto" style="margin-top:100px">  
    <div class="col-md-5 mx-auto">
        {% include 'base/messages.html' %}
        <h2>Login Now</h2>
        <form action="{% url 'accounts:login' %}" method="POST">
            {% csrf_token %}     
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary btn-sm">Register</button>
        </form>
    </div>
</div>
    
{% endblock content%}