{% extends 'base.html' %}
{% block content %}
<div class="container" style="margin-top:100px">
    <div class="col-10 mx-auto justify-content-center"style="min-height:60vh">
        <h2 class="text-lead mb-4">Pay Now</h2>
   
	<div id="paypal-button-container"></div>

    <!-- Include the PayPal JavaScript SDK -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <script src="https://www.paypal.com/sdk/js?client-id=AXElrOpj96i_dRP762iI35cknK34chPZiZoAmWONHOvwLoo4PypmDKyDOBnOGr9gyBQySdrU4mrpG8x6&currency=PHP"></script>


	<script>
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({
			style: {
                color:  'blue',
                shape:  'rect',
                label:  'pay',
                height: 40
            },

            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: '{{ order_total }}'
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                    // Show a success message to the buyer
                    alert('Transaction completed by ' + details.payer.name.given_name + '!');
                    // $.alert({
                    //     title: "Transaction Completed!",
                    //     content: 'Transaction completed by ' + details.payer.name.given_name + '!',
                    //     theme: "modern",
                    // })
                    window.location.href="/order/progress/"
                });
            }


        }).render('#paypal-button-container');
    </script>
    </div>
    
</div>

{% endblock content %}