{% extends 'admin_panel/base.html' %}
{% block content %}

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
          <!-- Small boxes (Stat box) -->
          <div class="row">
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-info">
                <div class="inner">
                  <h3>{{ orders_count }}</h3>
                  {% if orders_count > 1%}
                  <p>Orders</p>
                  {% else %}
                  <p>Order</p>
                  {% endif %}
                </div>
                <div class="icon">
                  <i class="ion ion-bag"></i>
                </div>
                <a href="{% url 'admin_panel:orders' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-success">
                <div class="inner">
                  <h3>{{ products_count }}<sup style="font-size: 20px"></sup></h3>
                  {% if products_count > 1%}
                  <p>Products</p>
                  {% else %}
                  <p>Product</p>
                  {% endif %}
                </div>
                <div class="icon">
                  <i class="fas fa-laptop"></i>
                </div>
                <a href="{% url 'admin_panel:products' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-warning">
                <div class="inner">
                  <h3>{{ users_count }}</h3>
  
                  {% if users_count > 1%}
                  <p>Users</p>
                  {% else %}
                  <p>User</p>
                  {% endif %}
                </div>
                <div class="icon">
                  <i class="ion ion-person-add"></i>
                </div>
                <a href="{% url 'admin_panel:users' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-danger">
                <div class="inner">
                  <h3>{{ payments_count }}</h3>
  
                  {% if payments_count > 1%}
                  <p>Payments</p>
                  {% else %}
                  <p>Payment</p>
                  {% endif %}
                </div>
                <div class="icon">
                  <i class="far fa-credit-card"></i>
                </div>
                <a href="{% url 'admin_panel:payments' %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <!-- ./col -->
          </div>
          <!-- /.row -->
          
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
      <hr>
      <canvas id="pieChart" height="100"></canvas>
  


{% endblock content %}