{% extends 'admin_panel/base.html' %}

{% block content %}
<div class="container">
    <div class="row card card-body">
        <div class="col-12">
            <h4>Active Orders</h4>
        </div>
        <div class="col-12 ">
            {% if orders %}
            <div class="table-responsive">
                <table class="table ">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Order ID</th>
                      <th scope="col">Products</th>
                      <th scope="col">Total Amount</th>
                      <th scope="col">Status</th>
                      <th scope="col">Action</th>
                    
                    </tr>
                  </thead>
                  <tbody>
                    {% for order in orders %}
                    <tr>
                      <td>{{ forloop.counter }}</td>
                      <td><span>{{ order.order_id }}</span></td>
                      {% for product in order.cart.products.all %}
                        <td class=""style="display:inline-block">
                            <img src="{{ product.image1.url }}" alt="product_image" class="img-sm border" style="width:80px;height:80px">
                            <span class="badge badge-pill badge-warning">{{ product.quantity }}</span>+
                        </td>
                      {% endfor %}
                      <td>PHP {{ order.cart.get_cart_total|floatformat:2 }}</td>
                      <td>{{ order.get_status_display }}</td>
                        <td>
                            <a href="#">
                                <i class="fas fa-trash text-danger mr-2"></i>
                                <i class="fas fa-edit text-warning"></i>
                            </a>
                        </td>
                     
                    </tr>
                    {% endfor%}
                  </tbody>
                </table>
              </div>
            {% else %}
            <h4 class="text-lead"> No results found </h4>
            {% endif %}
        </div>
    </div>
    
</div>
{% endblock content %}