{% extends 'admin_panel/base.html' %}

{% block content %}
<div class="container">
    <div class="row card card-body">
        <div class="col-12" >
          {% include 'base/messages.html' %}
            <h4>Products
                <a href="{% url 'admin_panel:product_create' %}" class="mr-3">
                    <i class="fas fa-plus-square create-icon"></i>
                </a>
            </h4>
            
           
        </div>
        <div class="col-12 ">
            {% if products %}
            <div class="table-responsive">
                <table class="table ">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Title</th>
                      <th scope="col">Image</th>
                      <th scope="col">Price</th>
                      <th scope="col">Discount</th>
                      <th scope="col">Category</th>
                      <th scope="col">Label</th>
                      <th scope="col">Description</th>                      
                      <th scope="col">Action</th>                    
                    </tr>
                  </thead>
                  <tbody>
                    {% for product in products %}
                    <tr>
                      <td>{{ page_obj.start_index|add:forloop.counter0 }}</td>
                      <td>{{ product.title }}</td>
                      <td>
                        <img src="{{ product.image1.url }}" alt="product_image" style="width:70px;height:70px">
                    </td>
                      <td>
                        PHP {{ product.price}}
                     </td>
                     
                      <td>
                        {{ product.get_discount_percent|floatformat:0 }} %
                     </td>
                      <td>{{ product.get_category_display }}</td>
                      <td>{{ product.get_label_display }}</td>
                      <td>
                        {{ product.description|truncatewords:10 }}</td>
                      <td>
                        {% if not product in product_list %}
                        <a href="{% url 'admin_panel:product_delete' product.slug %}">
                        {% else %}
                        <a href="#" class="btn-delete-error">
                        {% endif %}
                            <i class="fas fa-trash text-danger mr-2"></i>
                        </a>
                        <a href="{% url 'admin_panel:product_update' product.slug %}">
                          <i class="fas fa-edit text-warning"></i>
                        </a>
                            
                        
                    </td>
                     
                     
                    </tr>
                    {% endfor%}
                  </tbody>
                </table>
              </div>
            {% else %}
            <h5 class="text-lead text-center text-muted"> No results found </h5>
            {% endif %}
        </div>
    </div>
    {% include 'base/pagination.html' %}
</div>

{% endblock content %}